.container-top{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    width: 92%;
    height: 30vh;
    margin-top: -48px;
    align-items: flex-start;

}
.container-top-h{
    grid-column-start: 2;
    grid-row: 1;
    justify-self: center;
}
.n-extracto{
    font-family: 'Milliard';
    font-size: 24px;
    color: #283154;
    font-weight: 500;
}
.input-search{
grid-column: 2;
grid-row: 2;
justify-self: center;
}
.index{
    z-index: 1;
}
.btn{
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
}
.btn-add-picture{
    background: #283154;
    border-radius: 8px;
    border: 0.1px;
    color: #FFFFFF;
    cursor: pointer;
    width: 230px;
    height: 51px;
    font-size: 24px;
    font-family: 'Milliard';
    line-height: 27px; 
    align-items: end;
}