.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 88%;
}
.table{
    font-family: 'Milliard';
    align-self: center;
    width: 92%;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    justify-self: center;
}

.t-head-tr{
    padding: 24px;
    background-color:#283154 ;
}
.t-head-th{
    color: #FFFFFF;
}
.t-head-th, .t-body-td{
    font-size: 24px;
    text-align: center;
    padding: 24px;
}
.t-head-th:first-child{
    text-align: left;
}
.t-body-tr{
    background: #FFFFFF;
}
.t-body-td:first-child{
    text-align: left;
}